
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #e66465, #9198e5);
    color: #fff;
    padding: 20px;
}

.register-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
}

a {
    color: #fff;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}
